[submodule "third_party/pfr"]
	path = third_party/pfr
	url = https://github.com/apolukhin/pfr_non_boost.git
[submodule "elfio"]
	path = elfio
	url = https://github.com/avast/elfio.git
[submodule "third_party/elfio"]
	path = third_party/elfio
	url = https://github.com/avast/elfio.git
